domain: "yourdomain.com"
destination: "/home/user/backups"
mysql:
  container: "mysql"
  username: "username"
  password: "password"
mariadb:
  container: "mariadb"
  username: "username"
  password: "password"
services:
  - name: your_service
    fs:
      folder: "/home/user/your_service_files"
      exclude:
        - "/cache"
        - "/logs"
      include:
        - "/keep_this_dir/***"
    mysql:
      db_name: "your_service_db"
    mariadb:
      db_name: "your_service_db"
    postgres:
      container: "postgres"
      network: "postgres"
      username: "username"
      password: "password"
      db_name: "your_service_db"
    arr:
      endpoint: "/api/v3"
      subdomain: "radarr"
      api_key: "api-key"
      folder: "/home/user/your_service_files/arr_generated_backups"
      secure: true
    jellyfin:
      subdomain: "jellyfin"
      api_key: "api-key"
      folder: "/home/user/your_service_files/jellyfin_generated_backups"
      secure: true
      options:
        database: true
        metadata: false
        trickplay: false
        subtitles: false
borg:
  repository: "ssh://user@host:/"
  passphrase: "your-passphrase"
  folders:
    - repository: "/docker-services"
      folder: "/home/user/backups"
      compression: "zstd,9"
    - repository: "/pictures"
      folder: "${DATA_PATH}/Pictures"
    - repository: "/homes"
      folder: "/home"
      compression: "none"
