global:
  domain: "yourdomain.com"
  destination: "/home/user/backups"
  borg_repository: "ssh://repository/"
  borg_passphrase: "passphrase"
  mysql:
    container: "mysql"
    username: "username"
    password: "password"
  mariadb:
    container: "mariadb"
    username: "username"
    password: "password"
  postgres:
    container: "postgres"

services:
  your_service:
    fs:
      folder: "/home/user/your_service_files"
    mysql:
      db_name: "your_service_db"
    mariadb:
      db_name: "your_service_db"
    postgres:
      username: "username"
      password: "password"
      database: "your_service_db"
